
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .complex-gradient{
        background: linear-gradient(189.55deg, #FF7B7B 3.68%, rgba(201, 91, 157, 0) 78.81%), linear-gradient(98.47deg, #749BFF 0%, #95FFEC 90.1%);
    }
    .mid-complex-gradient {
        background: linear-gradient(115.85deg, #E0BCF3 31.65%, #7EE7EE 94.47%);
    }
    .glass-panel {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(4px);
        box-shadow: #FFFFFF 0px -1px 0px 1px;
    }
    .content-panel {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(4px);
        box-shadow: #FFFFFF 0px -1px 0px 1px;
    }
    @responsive {
        .custom-max-h {
            max-height: 600px;
        }
    }
}