.login_with_TUCMC {
    background-image: linear-gradient(to right, #a78bfa, #ec4899, #ef4444);
    color: rgba(255, 255, 255, 1);
    padding: 0.5rem 2rem;
    font-weight: 600;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border: none;
}